body {
    background-color: black;
    color: black;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ea8919+0,efda62+24,efda62+38,efda62+38,efda62+38,efda62+38,efda62+43,fd89d7+63,ff21bc+99 */
background: #f718a5; /* Old browsers */
background: -moz-linear-gradient(top, #f718a5 0%, #2989d8 45%, #25c49c 72%, #03af6d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f718a5 0%,#2989d8 45%,#25c49c 72%,#03af6d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f718a5 0%,#2989d8 45%,#25c49c 72%,#03af6d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#header {
   text-align: center;
   width: 100%;
   display: block;
   margin: auto;
}

#container {
   text-align: center;
   display: block;
   margin: auto;
}

#draggable {
  border-color: #ffffff;

}

.ui-draggable {
  position:relative;
  z-index:0;
}

#caspie{
  position: relative;
  left: 100px;
  bottom: -100px;
}












