@keyframes example {
   from { transform: scale(3.0); }
   to   { transform: scale(1.0); }
}

body {
    background-color: #ccb3ff;
}
#container {
    width: 100%;
    height: 1200px;
    padding-top: 105px;
}
@font-face {
    font-family: 'Roboto-Black';
    src: url("Roboto-Black.ttf");
}

.roastbeef {
-webkit-animation-name: example;
-webkit-animation-duration: 1.5s;
-webkit-animation-timing-function: ease;    
-webkit-animation-delay: 1.5s;           
-webkit-animation-iteration-count: 1;   
-webkit-animation-direction: alternate; 

font-family: Roboto-Black;
font-size: 85px;
color: #ffcce6;
margin-left: auto;
margin-right: auto;
margin-top: 5px;
text-align: center;
animation-iteration-count: infinite;
}

#none {
    -webkit-transition-property: all;
    -webkit-transition-duration: 2.4s;
    font-family: Roboto-Black;
    font-size: 90px;
    color: #19004d;
    text-align: center;
    margin-top: 250px;
    margin-bottom: 250px;
    opacity: 1;
}

#none:hover {
    opacity: 0;
}

#wees {
    height: 400px;
}

#wee1 {
    font-family: Roboto-Black;
    font-size: 90px;
    color: #19004d;
    text-align: center;
}

#wee2 {
    font-family: Roboto-Black;
    font-size: 90px;
    color: #19004d;
    text-align: left;
    position: fixed;
    right:100%;
    bottom:100%;
    -webkit-transition-property: all;
    -webkit-transition-duration: 1.5s;
}

#wee3 {
    font-family: Roboto-Black;
    font-size: 90px;
    color: #19004d;
    text-align: left;
    position: fixed;
    left:100%;
    bottom:100%;
    -webkit-transition-property: all;
    -webkit-transition-duration: 1.5s;
}

#wees:hover #wee2 {
    right: -10%;
    bottom: -20%;
}
#wees:hover #wee3 {
    left: -10%;
    bottom:-20%;
}

