.box1{
background:  #009999;
color:  #b3ffd9;
font-size: 100px;
width: 1000px;
height: 250px;
font-family: tahoma;
margin-top: 40px;
text-align: center;
padding: 40px;

}



.box2{
background:  #ff884d;
color: #bb33ff;
font-size: 85px;
width: 200px;
height: 100px;
font-family: helvetica;
margin-bottom: 300px;
padding: 50px;

}








