body{

background-color: #e6005c;

}

#warped {
position: relative; 
display: 
block; 
width:588px; 
height:440px;
color: #cceeff;

}

                     #warped>span[class^=w]:nth-of-type(n+0){display:block; 
                     position:absolute;
                     -moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
                     100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; }

#warped span {
font-family: helvetica;
font-size:38px;
font-weight:regular;
font-style:normal;
line-height:0.65; 
white-space:pre; 
overflow:visible; 
padding:0px;

}

                     #warped .w0 {-moz-transform: rotate(-7.85rad);-webkit-transform: rotate(-7.85rad);-o-transform:
                     rotate(-7.85rad);-ms-transform: rotate(-7.85rad); transform: rotate(-7.85rad);
                     width: 29px; height: 24px; left: 25.5px; top: 194.8px;}

                     #warped .w1 {-moz-transform: rotate(-7.71rad);-webkit-transform: rotate(-7.71rad);-o-transform:
                     rotate(-7.71rad);-ms-transform: rotate(-7.71rad); transform: rotate(-7.71rad);
                     width: 23px; height: 24px; left: 30.8px; top: 164.28px;}

                     #warped .w2 {-moz-transform: rotate(-7.59rad);-webkit-transform: rotate(-7.59rad);-o-transform:
                     rotate(-7.59rad);-ms-transform: rotate(-7.59rad); transform: rotate(-7.59rad);
                     width: 11px; height: 24px; left: 41.34px; top: 142.96px;}

                     #warped .w3 {-moz-transform: rotate(-7.41rad);-webkit-transform: rotate(-7.41rad);-o-transform:
                     rotate(-7.41rad);-ms-transform: rotate(-7.41rad); transform: rotate(-7.41rad);
                     width: 35px; height: 24px; left: 39.11px; top: 117px;}

                     #warped .w4 {-moz-transform: rotate(-7.16rad);-webkit-transform: rotate(-7.16rad);-o-transform:
                     rotate(-7.16rad);-ms-transform: rotate(-7.16rad); transform: rotate(-7.16rad);
                     width: 20px; height: 24px; left: 64.12px; top: 89.73px;}

                     #warped .w5 {-moz-transform: rotate(-7rad);-webkit-transform: rotate(-7rad);-o-transform:
                     rotate(-7rad);-ms-transform: rotate(-7rad); transform: rotate(-7rad); width:
                     11px; height: 24px; left: 83.08px; top: 75.03px;}

                     #warped .w6 {-moz-transform: rotate(-6.82rad);-webkit-transform: rotate(-6.82rad);-o-transform:
                     rotate(-6.82rad);-ms-transform: rotate(-6.82rad); transform: rotate(-6.82rad);
                     width: 22px; height: 24px; left: 95.07px; top: 62.53px;}

                     #warped .w7 {-moz-transform: rotate(-6.59rad);-webkit-transform: rotate(-6.59rad);-o-transform:
                     rotate(-6.59rad);-ms-transform: rotate(-6.59rad); transform: rotate(-6.59rad);
                     width: 23px; height: 24px; left: 119.37px; top: 51.52px;}

                     #warped .w8 {-moz-transform: rotate(-6.36rad);-webkit-transform: rotate(-6.36rad);-o-transform:
                     rotate(-6.36rad);-ms-transform: rotate(-6.36rad); transform: rotate(-6.36rad);
                     width: 23px; height: 24px; left: 147.12px; top: 46.29px;}

                     #warped .w9 {-moz-transform: rotate(-6.13rad);-webkit-transform: rotate(-6.13rad);-o-transform:
                     rotate(-6.13rad);-ms-transform: rotate(-6.13rad); transform: rotate(-6.13rad);
                     width: 23px; height: 24px; left: 174.48px; top: 47.5px;}

                     #warped .w10 {-moz-transform: rotate(-5.89rad);-webkit-transform: rotate(-5.89rad);-o-transform:
                     rotate(-5.89rad);-ms-transform: rotate(-5.89rad); transform: rotate(-5.89rad);
                     width: 23px; height: 24px; left: 201.77px; top: 55.22px;}

                     #warped .w11 {-moz-transform: rotate(-5.66rad);-webkit-transform: rotate(-5.66rad);-o-transform:
                     rotate(-5.66rad);-ms-transform: rotate(-5.66rad); transform: rotate(-5.66rad);
                     width: 23px; height: 24px; left: 226.35px; top: 69.04px;}

                     #warped .w12 {-moz-transform: rotate(-5.43rad);-webkit-transform: rotate(-5.43rad);-o-transform:
                     rotate(-5.43rad);-ms-transform: rotate(-5.43rad); transform: rotate(-5.43rad);
                     width: 23px; height: 24px; left: 246.73px; top: 87.81px;}

                     #warped .w13 {-moz-transform: rotate(-5.22rad);-webkit-transform: rotate(-5.22rad);-o-transform:
                     rotate(-5.22rad);-ms-transform: rotate(-5.22rad); transform: rotate(-5.22rad);
                     width: 23px; height: 24px; left: 262.54px; top: 110.55px;}

                     #warped .w14 {-moz-transform: rotate(-5.03rad);-webkit-transform: rotate(-5.03rad);-o-transform:
                     rotate(-5.03rad);-ms-transform: rotate(-5.03rad); transform: rotate(-5.03rad);
                     width: 23px; height: 24px; left: 273.65px; top: 136.32px;}

                     #warped .w15 {-moz-transform: rotate(-4.87rad);-webkit-transform: rotate(-4.87rad);-o-transform:
                     rotate(-4.87rad);-ms-transform: rotate(-4.87rad); transform: rotate(-4.87rad);
                     width: 23px; height: 24px; left: 280.19px; top: 164.28px;}

                     #warped .w16 {-moz-transform: rotate(-4.74rad);-webkit-transform: rotate(-4.74rad);-o-transform:
                     rotate(-4.74rad);-ms-transform: rotate(-4.74rad); transform: rotate(-4.74rad);
                     width: 23px; height: 24px; left: 282.45px; top: 191.23px;}

                     #warped .w17 {-moz-transform: rotate(-4.84rad);-webkit-transform: rotate(-4.84rad);-o-transform:
                     rotate(-4.84rad);-ms-transform: rotate(-4.84rad); transform: rotate(-4.84rad);
                     width: 23px; height: 24px; left: 284.06px; top: 222.33px;}

                     #warped .w18 {-moz-transform: rotate(-4.95rad);-webkit-transform: rotate(-4.95rad);-o-transform:
                     rotate(-4.95rad);-ms-transform: rotate(-4.95rad); transform: rotate(-4.95rad);
                     width: 11px; height: 24px; left: 293.81px; top: 243.16px;}

                     #warped .w19 {-moz-transform: rotate(-5.08rad);-webkit-transform: rotate(-5.08rad);-o-transform:
                     rotate(-5.08rad);-ms-transform: rotate(-5.08rad); transform: rotate(-5.08rad);
                     width: 18px; height: 24px; left: 296.08px; top: 262.07px;}

                     #warped .w20 {-moz-transform: rotate(-5.22rad);-webkit-transform: rotate(-5.22rad);-o-transform:
                     rotate(-5.22rad);-ms-transform: rotate(-5.22rad); transform: rotate(-5.22rad);
                     width: 15px; height: 24px; left: 306.45px; top: 281.44px;}

                     #warped .w21 {-moz-transform: rotate(-5.41rad);-webkit-transform: rotate(-5.41rad);-o-transform:
                     rotate(-5.41rad);-ms-transform: rotate(-5.41rad); transform: rotate(-5.41rad);
                     width: 23px; height: 24px; left: 316.09px; top: 301.6px;}

                     #warped .w22 {-moz-transform: rotate(-5.63rad);-webkit-transform: rotate(-5.63rad);-o-transform:
                     rotate(-5.63rad);-ms-transform: rotate(-5.63rad); transform: rotate(-5.63rad);
                     width: 23px; height: 24px; left: 336.08px; top: 321.03px;}

                     #warped .w23 {-moz-transform: rotate(-5.82rad);-webkit-transform: rotate(-5.82rad);-o-transform:
                     rotate(-5.82rad);-ms-transform: rotate(-5.82rad); transform: rotate(-5.82rad);
                     width: 11px; height: 24px; left: 360.75px; top: 332.85px;}

                     #warped .w24 {-moz-transform: rotate(-5.96rad);-webkit-transform: rotate(-5.96rad);-o-transform:
                     rotate(-5.96rad);-ms-transform: rotate(-5.96rad); transform: rotate(-5.96rad);
                     width: 13px; height: 24px; left: 375.44px; top: 339.51px;}

                     #warped .w25 {-moz-transform: rotate(-6.15rad);-webkit-transform: rotate(-6.15rad);-o-transform:
                     rotate(-6.15rad);-ms-transform: rotate(-6.15rad); transform: rotate(-6.15rad);
                     width: 23px; height: 24px; left: 392.77px; top: 344.83px;}

                     #warped .w26 {-moz-transform: rotate(-6.36rad);-webkit-transform: rotate(-6.36rad);-o-transform:
                     rotate(-6.36rad);-ms-transform: rotate(-6.36rad); transform: rotate(-6.36rad);
                     width: 18px; height: 24px; left: 420.37px; top: 345.7px;}

                     #warped .w27 {-moz-transform: rotate(-6.55rad);-webkit-transform: rotate(-6.55rad);-o-transform:
                     rotate(-6.55rad);-ms-transform: rotate(-6.55rad); transform: rotate(-6.55rad);
                     width: 19px; height: 24px; left: 443.2px; top: 341.76px;}

                     #warped .w28 {-moz-transform: rotate(-6.71rad);-webkit-transform: rotate(-6.71rad);-o-transform:
                     rotate(-6.71rad);-ms-transform: rotate(-6.71rad); transform: rotate(-6.71rad);
                     width: 10px; height: 24px; left: 465.83px; top: 335.22px;}

                     #warped .w29 {-moz-transform: rotate(-6.89rad);-webkit-transform: rotate(-6.89rad);-o-transform:
                     rotate(-6.89rad);-ms-transform: rotate(-6.89rad); transform: rotate(-6.89rad);
                     width: 23px; height: 24px; left: 477.75px; top: 324.79px;}

                     #warped .w30 {-moz-transform: rotate(-7.06rad);-webkit-transform: rotate(-7.06rad);-o-transform:
                     rotate(-7.06rad);-ms-transform: rotate(-7.06rad); transform: rotate(-7.06rad);
                     width: 6px; height: 24px; left: 501.82px; top: 312.01px;}

                     #warped .w31 {-moz-transform: rotate(-7.16rad);-webkit-transform: rotate(-7.16rad);-o-transform:
                     rotate(-7.16rad);-ms-transform: rotate(-7.16rad); transform: rotate(-7.16rad);
                     width: 11px; height: 24px; left: 508.37px; top: 302.25px;}

                     #warped .w32 {-moz-transform: rotate(-7.3rad);-webkit-transform: rotate(-7.3rad);-o-transform:
                     rotate(-7.3rad);-ms-transform: rotate(-7.3rad); transform: rotate(-7.3rad);
                     width: 13px; height: 24px; left: 517.47px; top: 288.33px;}

                     #warped .w33 {-moz-transform: rotate(-7.44rad);-webkit-transform: rotate(-7.44rad);-o-transform:
                     rotate(-7.44rad);-ms-transform: rotate(-7.44rad); transform: rotate(-7.44rad);
                     width: 20px; height: 24px; left: 523.71px; top: 269.95px;}

                     #warped .w34 {-moz-transform: rotate(-7.57rad);-webkit-transform: rotate(-7.57rad);-o-transform:
                     rotate(-7.57rad);-ms-transform: rotate(-7.57rad); transform: rotate(-7.57rad);
                     width: 10px; height: 24px; left: 535.61px; top: 250.95px;}

                     #warped .w35 {-moz-transform: rotate(-7.7rad);-webkit-transform: rotate(-7.7rad);-o-transform:
                     rotate(-7.7rad);-ms-transform: rotate(-7.7rad); transform: rotate(-7.7rad);
                     width: 23px; height: 24px; left: 533.86px; top: 229.83px;}

                     #warped .w36 {-moz-transform: rotate(-7.8rad);-webkit-transform: rotate(-7.8rad);-o-transform:
                     rotate(-7.8rad);-ms-transform: rotate(-7.8rad); transform: rotate(-7.8rad);
                     width: 6px; height: 24px; left: 544.56px; top: 210.05px;}
            
